<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>iView admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="stylesheet" name="theme" href="">
    <link rel="icon" href="/td_icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/simplemde.min.css">
    <link rel="stylesheet" href="/static/cropper.min.css">
    <style type="text/css">
        html,body{
            width: 100%;
            height: 100%;
            background: #f0f0f0;
        }
        .lock-screen-back{
            border-radius: 50%;
            z-index: -1;
            box-shadow: 0 0 0 0 #667aa6 inset;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            transition: all 3s;
        }
        .xxxx{color:red;}
    </style>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript">
        (function(){
          // 针对生产环境，只允许跳转到https://manage.newtonxchange.com 
          var protocol = location.protocol;
          var host = location.host.toLowerCase();
          if (host === 'pre.manager.newtonxchange.com' || host === 'test.manager.newtonxchange.com') {
            return
          }
          if (host.indexOf('newtonxchange.com') !== -1 && (protocol !== 'https:' || host !== 'manage.newtonxchange.com')) {
            location.href = 'https://manage.newtonxchange.com';
          }
        })();
    </script>
    <div class="lock-screen-back" id="lock_screen_back"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>